/* Les valeurs en pixel sont précises pour s'approcher le plus possible du template .PNG, cependant cela rend le calcul intuitif
des marges difficiles */

/* ----------- effet FADE -------------------- */
.fadein {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari and Chrome */
  -o-animation: fadein 3s;
  /* Opera */
}

/* @keyframes permet de gérer les phases d'animation */
@keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* --------------- effet FADE fin ----------------*/
body {
	margin:0 ;
}

#main_wrapper { /* propriétés de l'ensemble de la page */
	max-width: 1043px;
	padding-left: 206px;
	margin: 0;
}

/* Header */
.header {
	display: flex;
	background-color: #2F4858;
	height: 182px;
}

/* User picture */

.user_picture {
	padding-top: 20px;
	padding-left: 41px;
}

.user_picture > img {
	width: 113px;
}
/* /User picture */

/* User infos */
.user_title {
	margin: 0 auto;
	padding-right: 38px; 
	color: #FFF;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
}

.name {
	font-size: 22px;
	margin-bottom: 35px;
	letter-spacing: 0.1px;
}

.job {
	font-size: 35px;
	margin-bottom: 35px;
}

.title_profile {
	font-weight: normal;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 25px;
}	
/* /User infos */

/* /Header */

/* Main content */
.main_box {
	display: flex;
	justify-content: space-between;
}

/* User infos, left content */
.user_info-box {
	background-color: #86BBD8;
	border-top: solid 4px #9FE694;
}

.user_info {
	padding-left: 12px;
	padding-right: 37px;
}

.user_info-title {
	color: #3A5768;
	font-weight: bold;
	font-size: 20px;
}

.user_info-title {
	margin-top: 12px;
	margin-bottom: 10px;
}

.user_info-list {
	list-style: none;
	font-size: 20px;
	line-height: 29px;
	padding-left: 45px;
	margin-top: 10px;
	letter-spacing: -0.7px;
	margin-bottom: 24px;
}
/* /User infos, left content */

/* User experiences, right content */
.user_experiences {
	width: 768px;
	background-color: #FAF8F8;
}

.title_1 {
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	padding-left: 9px;
	margin-top: 31px;
	margin-bottom: 30px;
}

.user_exp {
	padding-left: 24px;
	letter-spacing: -0.1px;
}

.user_exp-title {
	font-size: 28px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 0px;
	border-bottom: solid #9FE694 4px;
	width: 50%;
}

.user_exp-info {
	font-style: italic;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 0;
}

.user_exp-description {
	font-size: 19px;
	margin-top: 13px;
	margin-bottom: 43px;
}
/* /User experiences, right content */

/* /Main content */

